/* _-_-_- modules/BUTTONS -_-_-_ */
button {
  padding: 8pt 16pt;
  background: $text-color;
  color: $bg;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: all .3s ease;
  cursor: pointer;
  &.plain {
    background: transparent;
    padding: 0;
    color: $text-color;
    line-height: 1;
    border-radius: 0;
  }
  &.error {
    background: $error-color;
  }
}
