.video {
  width: $video-width;
  height: $video-height;
  margin: 8pt;
}

.chat {
  display: grid;
  grid-template:
      'main tabs ' auto
      'main tabs ' auto
      'main tabs ' 1fr
      'input tabs' auto /
       1fr auto;
  width: $video-width;
  max-width: 100%;
  height: $video-height;
  margin: 8pt;
  section {
    grid-area: main;
    padding: 8pt;
    background: color(brand, light);
    overflow-y: auto;
    label {
      font-weight: bold;
      color: color(grey, lightest);
    }
  }
  .chatInput {
    grid-area: input;
    display: flex;
    input {
      flex: 1;
    }
    button {
      border-radius: 0;
      background: color(brand, lightest);
      color: $text-color;
    }
  }
  .tabs {
    grid-area: tabs;
    display: flex;
    flex-flow: column nowrap;
  }
  .tab {
    background: transparent;
    padding: 8pt;
    border-radius: 0 3px 3px 0;
    svg {
      display: block;
      width: 16pt;
      height: auto;
      color: color(grey, lightest);
      transition: color .3s ease;
    }
    &.active {
      background: color(brand, light);
      svg {
        color: $text-color;
      }
    }
  }
  .streamOffline {
    grid-area: input;
    padding: 4pt;
    text-align: center;
    background: color(brand, lightest);
    color: color(brand, dark);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.message {
  padding: 4pt 8pt;
  font-size: $h6;
}
