.video {
  width: $video-width;
  height: $video-height;
  margin: 8pt;
}

.chat {
  display: flex;
  flex-flow: column nowrap;
  min-width: 200pt;
  max-width: $video-width;
  max-height: $video-height;
  margin: 8pt;
  .messages {
    flex: 1;
    background: color(brand, light);
    overflow-y: auto;
  }
  .streamOffline {
    padding: 4pt;
    text-align: center;
    background: color(brand, lightest);
    color: color(brand, dark);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.message {
  padding: 4pt 16pt;
  font-size: $h6;
  .author {
    font-weight: bold;
    margin-right: 4pt;
    color: color(grey, lightest);
  }
}
